<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path
      fill-rule="evenodd"
      d="m18.75 10.5l-.006.243l.006.257l-.006.243l.006.257l-.006.245l.006.255l-.162 7.103a3.359 3.359 0 0 1-2.996 3.263a33.364 33.364 0 0 1-7.184 0a3.359 3.359 0 0 1-2.996-3.263L5.25 12l.006-.257l-.006-.243l.006-.256L5.25 11l.006-.256l-.006-.244l.164-6.098c.002-.085.008-.169.018-.252l.003-.035l.003-.029a2.663 2.663 0 0 1 1.355-2.068a2.871 2.871 0 0 1 1.235-.405a43.333 43.333 0 0 1 7.944 0a2.871 2.871 0 0 1 1.233.404a2.663 2.663 0 0 1 1.356 2.063l.008.074c.01.082.015.165.017.248l.164 6.098Zm-1.676-6.18l.157 6.867l-.127 4.73a2.1 2.1 0 0 1-1.907 2.036a34.875 34.875 0 0 1-6.394 0a2.1 2.1 0 0 1-1.907-2.035l-.127-4.73l.157-6.867c0-.015 0-.03.002-.044c.06-.403.292-.75.623-.96a1.16 1.16 0 0 1 .412-.125c2.683-.29 5.39-.29 8.074 0c.148.016.287.059.412.124c.33.211.564.559.623.961l.002.044ZM12 21.7a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3Z"
      clip-rule="evenodd"
    />
  </svg>
</template>
