.tools {
  &__title {
    margin: rem(70) 0 rem(10) 0;
    color: var(--a-mainAccent);
    user-select: none;

    @media screen and (min-width: $tablet) {
      margin: rem(80) 0 rem(50) 0;
    }
  }
  &__subtitle {
    margin-bottom: rem(12);
    color: var(--a-headerText);
    user-select: none;
  }

  &__header {
    display: flex;
    width: 100%;
    margin-bottom: rem(100);

    &-list {
      display: grid;
      gap: rem(20) rem(5);
      grid-template-areas:
        'title title'
        'item-01 item-02'
        'item-03 item-04'
        'item-05 item-06';
      grid-template-rows: rem(50) 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      align-items: stretch;
      width: 100%;
      padding: 0 rem(8) 0 rem(8);

      @media screen and (min-width: $mobile) {
        gap: rem(40) rem(10);
        grid-template-areas:
          'title item-01 item-02'
          'title item-03 item-04'
          'title item-05 item-06';
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: rem(160) 1fr 1fr;
        padding: 0;
      }

      @media screen and (min-width: $tablet) {
        grid-template-areas:
          'title item-01 item-02 item-03'
          'title item-04 item-05 item-06';
        grid-template-rows: 1fr 1fr;
        grid-template-columns: rem(140) 1fr 1fr 1fr;
      }
    }
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &.item {
        &-header {
          grid-area: title;
          align-self: center;
          height: 100%;
          width: 100%;
          margin: rem(12) auto 0 auto;
          color: var(--a-mainAccent);
          text-transform: uppercase;
          border-right: none;
          border-bottom: rem(1) solid var(--a-borderMain);

          @media screen and (min-width: $mobile) {
            margin: 0 rem(8) 0 rem(16);
            border-right: rem(1) solid var(--a-borderMain);
            border-bottom: none;
          }

          @media screen and (min-width: $tablet) {
            margin: 0 rem(12) 0 0;
          }
        }
        &-02 {
          grid-area: item-01;
        }
        &-03 {
          grid-area: item-02;
        }
        &-04 {
          grid-area: item-03;
        }
        &-05 {
          grid-area: item-04;
        }
        &-06 {
          grid-area: item-05;
        }
        &-07 {
          grid-area: item-06;
        }
      }
    }

    &-img-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: rem(80);
      height: rem(40);
      margin-bottom: rem(8);
    }
    &-image {
      object-fit: cover;
      height: 100%;
    }

    &-link-group {
      display: flex;
      row-gap: rem(8);
      column-gap: rem(8);
      user-select: none;

      @media screen and (min-width: $mobile) {
        row-gap: rem(12);
        column-gap: rem(12);
      }
    }
    &-sourse {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: rem(110);
      padding: rem(4) rem(12);
      color: var(--a-mainText);
      background-color: var(--a-mainBg);
    }
    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: rem(4) rem(12);
      color: var(--a-white);
      background-color: var(--a-mainAccent);
    }
  }

  &__content,
  &__section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  &__content {
    padding-left: 0;

    @media screen and (min-width: $tablet) {
      padding-left: rem(140);
    }
  }
  &__section {
    margin-bottom: rem(20);
    padding: rem(30) 0;
    border-top: rem(1) solid var(--a-borderLight);
    &-logo {
      width: auto;
      height: 100%;
      object-fit: cover;
    }

    &-plugin-block {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: rem(4);
      padding: rem(4) rem(8);
      background-color: var(--a-bgLight);

      @media screen and (min-width: $mobile) {
        padding: rem(4) rem(20);
      }
    }

    &-header {
      display: flex;
      align-items: center;
      align-self: stretch;
      flex: none;
      width: rem(110);
      margin-right: rem(10);
      border-right: rem(1) solid var(--a-borderMain);
      user-select: none;

      @media screen and (min-width: $mobile) {
        width: rem(130);
        margin-right: rem(12);
      }
    }

    &-list-plugin {
      display: flex;
      flex-wrap: wrap;
    }

    &-item-plugin {
      display: flex;
      align-items: center;
      margin: rem(8) rem(12);
      color: var(--a-mainAccent);
    }
  }

  &__logo-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: rem(140);
    height: rem(44);
    margin-bottom: rem(12);
  }
}
