:root {
  // Base
  --a-white: #fff;
  --a-black: #000;

  --a-mainAccent: #41b883;

  // Typography
  --a-mainText: #1b263b;
  --a-headerText: #878c99;
  --a-accentText: #31b77d;

  // Background
  --a-mainBg: #e4e5e1;
  --a-bgAccent: #2eae7d;
  --a-bgAccentLight: #e2fbf1;
  --a-bgLight: #f3f3f3;

  // Border
  --a-borderMain: #b4bacc;
  --a-borderLight: #d0d5e5;
}
