.a-link {
  display: flex;

  &--btn {
    padding: rem(4) rem(12);
  }

  &--accent {
    color: var(--a-mainText);
    background-color: var(--a-bgAccentLight);

    &:hover {
      color: var(--a-accentText);
    }
  }
  &--primary {
    color: var(--a-mainAccent);
    background-color: var(--a-bgAccentLight);

    &:hover {
      color: var(--a-mainText);
    }
  }
}
